services:
  # ----- DOCKER DAEMON -----
  dind:
    image: docker:24.0-dind
    privileged: true
    expose:
      - "2375"
    environment:
      DOCKER_TLS_CERTDIR: ""
    healthcheck:
      test: ["CMD", "docker", "info"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ----- BUILDER AUTOMÁTICO -----
  agent-builder:
    image: docker:24.0-cli
    depends_on:
      dind:
        condition: service_healthy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./agents:/agents
    entrypoint: ["/bin/sh", "-c"]
    command: |
      echo ">> Construyendo imágenes de agentes dentro del dind..."
      docker build -t custom-agent/terraform /agents/terraform
      docker build -t custom-agent/node /agents/node
      docker build -t custom-agent/maven /agents/maven
      docker build -t custom-agent/docker /agents/docker
      echo ">> Imágenes listas!"
    restart: "no"

  # ----- JENKINS CONTROLLER -----
  jenkins-controller:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
      - "50000:50000"
    env_file:
      - ./.env
    volumes:
      - jenkins-data:/var/jenkins_home
      - ./jcasc:/var/jenkins_home/casc_configs:ro
    depends_on:
      dind:
        condition: service_healthy
      agent-builder:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/login"]
      interval: 10s
      timeout: 5s
      retries: 30

volumes:
  jenkins-data:
  jenkins-docker-certs:
